.features-item {
    padding-left: 94px;
    position: relative;
    padding-bottom: 2.5rem;

    &__icon {
        position: absolute;
        left: 0;

    }

    &__title {
        font-weight: 300;
        font-size: 1.875rem;
        margin-bottom: .8rem;

    }

}