.generic-content-container {

    p {
        line-height: 1.65;
        margin: 1.8rem 0;

        @mixin atSmall {
            font-size: 1.125rem;
        }

    }
    /*any link that lives in this paragraph in this class*/
    p a {
        font-weight: 700;


    }

}