.site-header {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    /* background-color:rgba(47, 85, 114, .3); */
    background-color:rgba($mainBlue, .30);

    &__btn-container {
        float: right; 
    }
    &__logo {
        position: absolute;
        background-color: $mainBlue;
        padding: 25px 35px;
        top:0;
    }
}